.cards {
    width: 30vw;
    max-width: 500px;
    min-width: 240px;
}

.cardContent{
    text-align: center;
}

.icon{
    font-size: 50px;
    color:#FFFFFF;
}

.btnIcon{
    background-color: #f84d03;
    margin-bottom: 20px;
    pointer-events: none;
}

.btnIcon:hover{
    background-color: #f84d03;
}