.boxAlert{
    position: absolute;
    padding-left: 5%;
    margin: 5px;
    top: 7%;
}

.alert{
    font-size: 13px;
    font-weight: 600;
}

@media (max-width: 780px) {
    .boxAlert{
        top: 25px;
        padding-left: 0;
    }
}