.input{
    padding: 15px 12px;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #85878e;
    appearance: none;
    border-radius: 3px;
}