.box{
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.link, .text, .google{
  text-decoration: none;
  color: #85878e;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

.link:hover{
  text-decoration: underline;
}

.google{
  border: none;
  margin: auto;
  border-radius: 0.2em;
  padding: 1em;
  font-weight: 550;
  font-size: 94%;
  background-color: #FFFFFF;
  box-shadow: 0.1rem 0.1rem 0.2rem #85878e;
  cursor: pointer;
}

.google:hover{
  background-color: #f9f9f9;
}